# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Ambiente virtual
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Arquivos de configuração
# =========================
.env

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / distribuição
# =========================
build/
dist/
*.egg-info/

# =========================
# Banco de dados (caso use no futuro)
# =========================
*.sqlite3

# =========================
# Cache geral
# =========================
.cache/

# =========================
# Pytest (se usar futuramente)
# =========================
.pytest_cache/
